.leftMenu {
    width: calc(20% - 20px);
    background: #58c476;
    text-align: left;
    padding: 20px 10px;
}

.item {
    color: #fff;
    text-decoration: none;
}

.item:hover {
    color: #fffd47;
    text-decoration: underline;
}

.active {
    color: #fffd47;
}

.dialogs_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dialogs__avatar {
    width: 20px;
}
.dialogs__avatar img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.avatar__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}