.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__logo {
  width: 100px;
}

.leftMenu {
  width: 10%;
}

.main {
  width: 90%;
}

.main__top {
  height: 200px;
  overflow: hidden;
}

.main__fon {
  width: 100%;
}